controllerManager:
  createPkiDirs:
    containerSecurityContext:
      runAsUser: 0
    image:
      repository: busybox
      tag: "1.28"
  manager:
    args:
    - --health-probe-bind-address=:8081
    containerSecurityContext:
      allowPrivilegeEscalation: false
      capabilities:
        drop:
        - ALL
    env:
      disableCreateCertManagerCertificate: "true"
      issuerName: kvm-node-agent-ca-issuer
      libvirtDefaultUri: ch:///system
      pkiPath: /pki
    image:
      repository: ghcr.io/cobaltcore-dev/kvm-node-agent
      tag: latest
    resources:
      limits:
        cpu: 500m
        memory: 128Mi
      requests:
        cpu: 10m
        memory: 64Mi
  nodeSelector: {}
  podSecurityContext:
    supplementalGroups:
    - 108
  tolerations:
  - effect: NoSchedule
    key: node.gardener.cloud/critical-components-not-ready
    operator: Exists
  topologySpreadConstraints: []
kubernetesClusterDomain: cluster.local
metricsService:
  ports:
  - name: https
    port: 8443
    protocol: TCP
    targetPort: 8443
  type: ClusterIP
serviceAccount:
  annotations: {}
  automount: true
  create: true
  name: ""
