controllerManager:
  createPkiDirs:
    containerSecurityContext:
      runAsUser: 0
    image:
      repository: busybox
      tag: "1.28"
  manager:
    args:
    - --health-probe-bind-address=:8081
    containerSecurityContext:
      allowPrivilegeEscalation: false
      capabilities:
        drop:
        - ALL
    env:
      disableCreateCertManagerCertificate: "true"
      issuerName: kvm-node-agent-ca-issuer
      pkiPath: /pki
    image:
      repository: ghcr.io/cobaltcore-dev/kvm-node-agent
      tag: latest
    resources:
      limits:
        cpu: 500m
        memory: 128Mi
      requests:
        cpu: 10m
        memory: 64Mi
  nodeSelector: {}
  podSecurityContext:
    supplementalGroups:
    - 108
  tolerations:
  - effect: NoSchedule
    key: node.gardener.cloud/critical-components-not-ready
    operator: Exists
  topologySpreadConstraints: []
kubernetesClusterDomain: cluster.local
metricsService:
  ports:
  - name: https
    port: 8443
    protocol: TCP
    targetPort: 8443
  type: ClusterIP
serviceAccount:
  annotations: {}
  automount: true
  create: true
  name: ""

# To ensure that the KVM Node Agent connects using the correct driver, we can
# use node affinity to set the LIBVIRT_DEFAULT_URI environment variable based on
# the node's virt-driver label.
drivers:
- name: qemu
  nodeAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      nodeSelectorTerms:
      - matchExpressions:
        - key: nova.openstack.cloud.sap/virt-driver
          operator: In
          values: [qemu]
  env:
  - name: LIBVIRT_DEFAULT_URI
    value: "qemu:///system"
- name: ch
  nodeAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      nodeSelectorTerms:
      - matchExpressions:
        - key: nova.openstack.cloud.sap/virt-driver
          operator: In
          values: [ch]
  env:
  - name: LIBVIRT_DEFAULT_URI
    value: "ch:///system"
